@charset "UTF-8";
#login_wrapper3{width:250px; height:450px;  margin:0 auto; margin-top:100px;}
#login_table{width:150px; height:80px;  margin:0 auto; margin-top:100px;} 

#mypage-table {
	width: 100%;
	height: 300px;
	border: 1px solid gray;
	maring: 0 auto;
}
#mypage-table tr {
	border: 1px solid gray
}
#mypage-table tr td {
	border: 1px solid gray
}
#mypage-table tr:first-child td:first-child{
	width:20%;
}
#mypage-profile-img{
	width: 100%;
	margin: 0 auto;
}
.mypage-column{
	width:15%;
	background: #c0c0c0
}
.mypage-data{
	width:20%;
}
#mypage-leave-btn{
	width: 150px;
	height: 30px;
	float: right;
	background: #a1a1a1;
	margin-top: 20px
}
#mypage-change-btn{
	width: 150px;
	height: 30px;
	float: right;
	background: #a1a1a1;
	margin-right: 10px;
	margin-top: 20px
}

#index_header{font-size: 20px}

#header_util{margin-top:15px}

/* burgerking */
#burgerking-sec{style="margin-top: 70px}








/* admin 
#aside{float: left ; width: 150px; height: 520px ; background: #e8e8e8; margin-right: 50px}
#section{width: 25%; height: 100%; float: left}
#admin_main_table{width: 70%; height: 100%; margin : 5% auto;border: 1px solid gray;float:left}
#admin_main_table tr{border: 1px solid gray}
#admin_main_table td{border: 1px solid gray;width: 30%;height: 200px;text-align: center;}
#admin_main_table tr td{width: 30%}
#member_list_table{width: 800px; height: 400px; margin : 5% auto;border: 1px solid gray}
#member_list_table tr{border: 1px solid gray}
#member_list_table th{border: 1px solid gray;width: 30%;height: 30px;text-align: center;}
#member_list_table td{border: 1px solid gray;width: 30%;height: 30px;text-align: center;}
#create_table_btn{width: 100%;height: 100%}
#title{text-align: center;margin-top: 50px}
#move_member_btn_img{width: 150px;height: 150px;} */

/* burgerking
#wrapper{width : 80%; height:600px;  margin: 0 auto;}
#wrapper tr{width : 100%; height :50px;}
#wrapper tr th{width : 100%; height :30px;}
#wrapper tr td {width : 100%; height :30px;}
#login-box{width:300px;margin: 0 auto;} 
 */

/* common
*{margin: 0px ; padding: 0px;}
h1{font: bold 20px verdana, sans-serif;}
h2{font: bold 14px verdana, sans-serif;}
header, section, footer, aside, nav, article, figure, figcaption,
	hgroup{display: block}
table, tr, td, th{border-collapse: collapse;}
body{text-align: center;}
a{text-decoration: none;color: #0000a0}
ul {list-style-type: none;}
#wrapper{width: 90%;height:90%; margin: 0 auto;text-align: left;
	 min-height: calc(100vh - 20px); 
}
.cursor-pointer{
	cursor: pointer;
} */

/* footer 
#footer {
	width: 100%;
	height: 20px;
	margin-top: -20px;
	border-top: 1px solid gray;
} */

/* header
#header{
	height: 50px;
	width: 100%;
	background: #0000a0;
}
#header>h1{
	width: 400px;
	margin: 0 auto;
	padding-top: 10px;
}
#header>h1>a{
	color: white;
}
#header>a{
	color: #c0c0c0
} */

/* index
 #index_section{margin-top: 100px;} 
#index_table{width: 80%;  margin: 0 auto;}
#index_table tr{height: 100px;  margin: 0 auto;}  
#index_login_box{width: 300px; margin: 0 auto;}  
#index_input_id{width: 180px; height: 45px;}
#index_input_pass{width: 180px; height: 45px;}
#index_login_btn{width: 100px; height: 100px;cursor: pointer;margin-right: 50px}
#index_table#first_tr{height: 100px}
#index_table#second_tr{text-align: center;height: 100px}
#index_login_box #id{height: 50px;width: 200px}
#index_login_box #pass{height: 50px;width: 200px}
 */
 
 
/* kakao
 #wrapper{width : 80%; height:600px;  margin: 0 auto;}
#wrapper tr{width : 100%; height:50px;  border: 1px solid blue;}
#wrapper tr th{width : 100%; height:30px;  border: 1px solid blue;}
#wrapper tr td {width : 100%; height:30px;  border: 1px solid blue;}
#login-box{width:300px;margin: 0 auto;}  */

/* login
 #login-outer-table {width : 80%; margin: 0 auto; margin-top: 200px; text-align: center}
#login-inner-table tr{border: 1px solid gray}
#login-inner-table tr td{border: 1px solid gray}
#login-inner-table {width: 300px; margin: 0 auto;border: 1px solid gray}
#login-userid-input {width: 190px; height: 45px}
#login-password-input {width: 190px; height: 45px}
#login-btn {width: 100px; height: 100px} */

/* lotto
#wrapper{width : 80%; height:600px;  margin: 0 auto;}
#wrapper tr{width : 100%; height:50px;  border: 1px solid blue;}
#wrapper tr th{width : 100%; height:30px;  border: 1px solid blue;}
#wrapper tr td {width : 100%; height:30px;  border: 1px solid blue;}
#login-box{width:300px;margin: 0 auto;}  */

/* join, member
 #join_input_id{width: 1000px; height: 1000px; margin: 0 auto;} */

/* nav
#nav{
	background: #0000a0;
	width: 100%;
	margin-bottom: 20px;
}
#nav ul{
	height: 10%
}
#nav li{
	display: inline-block;
	list-style: none;
	width:10%;
	text-align: center;
}
#nav li a{
	color: white;
	font: bold 14px verdana, sans-serif;
} */

/* sktelecom
#wrapper{width : 80%; height:600px;  margin: 0 auto;}
#wrapper tr{width : 100%; height:50px;  border: 1px solid blue;}
#wrapper tr th{width : 100%; height:30px;  border: 1px solid blue;}
#wrapper tr td {width : 100%; height:30px;  border: 1px solid blue;}
#login-box{width:300px;margin: 0 auto;}  */






/* ---------------------------------------------------------- */







/* #mypage_wrapper3{ width:700px; height:600px; margin:0 auto; margin-top:20px;}
#mypage_memberInfo{border:1px solid gray; height:650px; height:300px; margin:0 auto; margin-top:10px;}
#mypage_frame_day{border:1px solid gray; width:400px; height:250px; margin:0 auto; margin-top:1px;}
#mypage_pass_update{border:1px solid gray; width:400px; height:100px; margin:0 auto; margin-top:1px;}
#mypage_pict tr, td {border:1px solid gray; border-collapse: collapse;}
th{border: gray} */


/*index style
#index_header{width: 100%; height: 50px; text-align: center;}
#index_table{width: 80%;  margin: 0 auto; margin-top: 100px}
#index_login_box{width: 300px;  margin: 0 auto; text-align: center;}
#id{width: 180px; height:45px;}
#pass{width: 180px; height: 45px;}
#index_login_btn{width: 80px; height: 98px;}
*/

/* join member style
#join_second_header{height: 80px; text-align: center;}
#join_form{width:400px; height:500px; margin:0 auto; border:1px solid gray; }
#member_table{width:400px; height:400px; margin:0 auto; border:1px solid gray; }
#join_confirm_btn{width:100px;}
#check_dupl_btn{width:100px;}
*/

/* common style
*{margin: 0px; padding: 0px}
h1{font: bold 20px verdana, sans-serif;}   
h2{font: bold 14px verdana, sans-serif;}   
header, section, footer, aside, nav, article, figure, figcaption, hgroup{display: block;}
table, tr, td, th {border-collapse: collapse;}
body {text-align: center;}
a{text-decoration:  none; color:#0000a0}
#wrapper{width: 960px; margin:0 auto; text-align: left; min-height: calc(100vh - 20px);}
#wrapper2{width: 600px; margin:0 auto; text-align: left; min-height: calc(100vh - 20px);}
#wrapper3{width: 270px; margin:0 auto; text-align: left; min-height: calc(100vh - 20px);}
#header{height: 50px; width: 100%}
#nav{background: #000080; padding: 5px 10px; width: 100%; margin-bottom: 20px;}
#nav li{display: inline-block; list-style: none; padding: 2px;}
#nav li a{color: white; font: bold 14px verdana, sans-serif;}
#footer{height: 20px; margin-top: -20px;}
*/

/* changePass style
#changePass_form{width:350px; height:250px; border:1px solid gray; margin:0 auto; margin-top:200px;}
#now_pass{width:100px; height:50px;}
#update_pass1{width:100px; height:50px;}
#update_pass2{width:100px; height:50px;}
#pass_update_login{width:50px; height:50px;}
#pass_update_cancel{width:50px; height:50px;}
*/

/* bitcamp style
#frame{width:700px; height:400px; margin:0 auto; border:1px solid grey;}
#frame tr{width:150px; height:80px; margin:0 auto; border:1px solid grey;}
#frame tr th{width:100px; height:60px; margin:0 auto; border:1px solid grey;}
#frame tr td{width:100px; height:60px; margin:0 auto; border:1px solid grey;}
#memberInfo{width:700px; height:250px; border:1px solid grey; margin:0 auto;}
#pin{width:200px; height:200px;}
#memberInfo tr{width:100px; height:50px; border:1px solid grey;}
#memberInfo tr td{width:100px; height:50px; border:1px solid grey;}
#result_view1{width:50px; height:15px;}
#result_view2{width:50px; height:15px;}
#result_view3{width:50px; height:15px;}
#result_view4{width:50px; height:15px;}
#result_view5{width:50px; height:15px;}
#pass_update_css{width:600px; height:100px; border:1px solid gray; margin:0 auto;}
#pass_update{width:100px; height:50px;}
#attend_result{width:100px; height:50px;}
#leave{width:100px; height:50px;}
/* background-color:grey */
*/

/* admin style
#admin_div{width:900px; height:600px; margin:0 auto; border:1px solid grey; margin-top:70px }
#admin_title{text-align:center; height:60px; border:1px solid grey; background-color:orange;}
#admin_aside{float:left; width:170px; height:537px;  border:1px solid grey; background-color:lightgray;}
#admin_table{margin:0 auto; margin-top:150px;}
#admin_table tr{width:600px; height:120px; margin-align:center; border:1px solid grey;}
#admin_table tr td{width:170px; height:90px; text-align:center; border:1px solid grey;}
*/
